.App {
  text-align: center;
  font-family: "Fira Code", monospace;
  font-family: "Noto Serif Display", serif;
}
.navbar {
  background-color: rgb(171, 187, 181);
  color: white !important;
  font-size: x-large;
}
.img {
  position: fixed;
}
.navmove {
  padding: 0 0 0 1200px;
}
.color {
  color: white !important;
  letter-spacing: 3px;
}
#basic-nav-dropdown {
  color: white !important;
  letter-spacing: 3px;
}
.dropdown {
  letter-spacing: 1.5px;
}
.Carousel h5,
.Carousel p {
  font-size: x-large;
  color: rgb(119, 133, 105);
}
.boxform {
  margin: 150px 400px;
  padding: 100px 200px;
  background-color: rgb(203, 222, 215);
  border: 6px;
  border-radius: 10px;
  color: #f5faf6;
  font-size: large;
  padding: 80px 100px;
}
Button {
  background-color: white !important;
  color: rgb(171, 187, 181) !important;
  border-color: #f5faf6 !important;
}

.carousel--item {
  height: 800px;
}
.footer {
  display: flex;
  justify-content: space-around;
  background-color: #f5faf6 !important;
  color: rgb(171, 187, 181) !important;
}
ul,
a {
  display: flex;
  list-style: none;
  color: rgb(171, 187, 181) !important;
  text-decoration: none;
}
ul,
a,
h2 {
  margin: 20px 20px 0 0;
}
